(
  title: "Artificial Benevolence (working title)",
  dimensions: Some((658, 658)),
  max_dimensions: None,
  min_dimensions: None,
  fullscreen: false,
  multisampling: 1,
  visibility: true,
  vsync: false,
)
